:root {
  --background: #1d1d1d;
  --dark-grey: rgb(107, 107, 107);
  --light-grey: rgb(153, 153, 153);
  --light: white;
  --accent-color: #08fdd8;
}

@font-face {
  font-family: 'Allura';
  src: url(./fonts/Allura/Allura-Regular.ttf);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--light);
  padding: 20px;
}

body > * {
  height: 100vh;
}

*::before {
  font-family: Allura;
  color: var(--dark-grey);
  font-size: 1.25rem;
  font-weight: 100;
  position: absolute;
  left: -1rem;
  top: -1.5rem;
}

*::after {
  font-family: Allura;
  color: var(--dark-grey);
  font-size: 1.25rem;
  font-weight: 100;
  position: absolute;
  left: -1rem;
  bottom: -1.5rem;
}

.light-grey {
  color: var(--light-grey);
}

.accent {
  color: var(--accent-color);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

h1 {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 40px;
}

h1::before {
  content: '<h1>';
}

h1::after {
  content: '</h1>';
}

h2 {
  color: var(--accent-color);
}

p {
  position: relative;
}

p:first-of-type:before {
  content: '<p>';
}

p:last-of-type:after {
  content: '</p>';
}
